@use './partials/buttons' as *;
@use './partials/fonts' as *;
@use './partials/resets' as *;
@use './partials/typeface' as *;
@use './partials/variables' as *;

label {
  color: $Slate;
}
.App {
  background-color: $Light-Grey;
  height: 100%;
}


footer {
  display: flex;
  justify-content: center;
  margin-bottom: remy(40);
  color: $Slate;
}
