@use '../../partials/resets' as *;
@use '../../partials/variables' as *;
@use '../../partials/buttons' as *;
@use '../../partials/breakpoints' as *;

.inventory-list {
  border-radius: remy(5);
  margin: 0 remy(16) 0 remy(16);
  position: relative;
  bottom: remy(60);
  background-color: $White;
  @include tablet {
    margin: 0 remy(32);
  }
  @include desktop {
    margin: 0 remy(130);
  }

  &__label-container {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    // margin-bottom: remy(24);
    & img {
      height: remy(16);
      align-self: center;
    }
    @include tablet {
      width: 50%;
      flex-grow: 1;
    }
  }

  &__columns {
    display: none;
    @include tablet {
      background-color: $Light-Grey;
      height: remy(40);
      margin: 0 remy(32);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-label {
      @include tablet {
        display: flex !important;
      }
    }
  }
}

.--end {
  margin-left: auto;
  margin-right: 0;
  width: auto;
}

.--marginright {
  margin-right: remy(16);
}
