@use '../../partials/resets' as *;
@use '../../partials/variables' as *;
@use '../../partials/buttons' as *;
@use '../../partials/breakpoints' as *;

.search-bar {
  padding: remy(32) remy(24) remy(24) remy(24);
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: remy(32) remy(32) remy(24) remy(32);

    flex-direction: row;
    justify-content: flex-end;
  }

  &__title {
    margin-bottom: remy(24);
    margin-left: 0;
    margin-right: auto;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__input {
    height: remy(36);
    border-radius: remy(20);
    border: remy(1) solid $Cloud;
    padding: 0 remy(24);
    margin-bottom: remy(16);
    outline: none;
    @include tablet {
      margin-bottom: 0;
    }
  }
  &__button {
    letter-spacing: unset;
    @include tablet {
      padding: remy(8) remy(16);
      margin-left: remy(16);
    }
  }
}
