@use '../../partials/resets' as *;
@use '../../partials/variables' as *;
@use '../../partials/breakpoints' as *;
@use '../../partials/fonts' as *;

.warehouse-inventory {
  border-radius: remy(5);
  margin: 0 remy(16) 0 remy(16);
  position: relative;
  bottom: remy(60);
  background-color: $White;
  padding-top: remy(36);
  @include tablet {
    margin: 0 remy(32);
  }
  @include desktop {
    margin: 0 remy(130);
  }

  &__header {
    margin-left: remy(28);
    margin-right: remy(24);
    display: flex;
  }
  &__title {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__edit-logo {
    width: remy(36);
    height: remy(36);
    background-color: $Indigo;
    border-radius: 50%;
    padding: remy(7);
    margin-right: 0;
    margin-left: auto;
  }
  &__back-logo {
    width: remy(24);
  }
}
