@use './variables' as *;
@use './resets' as *;

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: remy(36);
  background: $Indigo;
  color: $White;
  padding: 0 remy(15);
  border-radius: remy(20);
  font-style: normal;
  font-weight: 600;
  font-size: remy(13);
  border: none;
}

.button-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: remy(36);

  color: $White;
  padding: 0 remy(15);
  border-radius: remy(20);
  font-style: normal;
  font-weight: 600;
  font-size: remy(13);
  border: none;
}

button:hover {
  background-color: $Graphite;
}

.button-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 remy(15);

  height: remy(36);
  color: $White;
  border-radius: remy(20);
  font-style: normal;
  font-weight: 600;
  font-size: remy(13);
  background: $White;
  border: remy(1p) solid $Cloud;
  color: $Slate;
}

.button-secondary:hover {
  color: $Indigo;
  border: remy(1p) solid $Indigo;
}

.button-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 remy(15);
  height: remy(36);
  background: $Red;
  color: $White;
  border-radius: remy(20);
  font-style: normal;
  font-weight: 600;
  font-size: remy(13);
  border: none;
}

.button-delete:hover {
  background-color: $Graphite;
}
